<form action="/usuario/atualizar/<%= usuario.id %>" method="POST">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input value="<%= usuario.nome %>" type="text" class="form-control" id="nome" name="nome">
    </div>

    <div class="form-group">
        <label for="nickname">nickname</label>
        <input value="<%= usuario.nickname %>" type="text" class="form-control" id="nickname" name="nickname">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input value="<%= usuario.email %>" type="email" class="form-control" id="email" name="email">
    </div>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="m-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  
</form>